.header {
    background-color: #333;
    color: #ddd;
    padding: 50px 0;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
  }
  .header h2 {
    font-size: 1.3rem;
    color: #ff6600;
    margin-bottom: 20px;
  } 

  .image-container {
    display: inline-block; /* Ensures the image is centered */
    margin: 0 auto; /* Centers the image */
  }
  
  .profile-image {
    max-width: 200px; /* Restricts the width of the image */
    height: auto; /* Keeps the original aspect ratio */
    border: 5px solid #fff; /* White border for contrast */
    filter: grayscale(100%); /* Applies a grey theme */
    transition: filter 0.3s ease;
  }
  
  .profile-image:hover {
    filter: grayscale(50%); /* Slight hover effect */
  }
  .download-button {
    background-color: #ff6600; /* Orange background */
    color: white; 
    padding: 8px 12px; 
    font-size: 0.6rem; 
    border: none; 
    cursor: pointer; 
    margin-top: 15px; 
    border-radius: 15px; 
    width: auto; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
  }
  
  .download-button:hover {
    background-color: #ff9933; 
  }
  