.skills {
  background-color: #444;
  color: #ddd;
  text-align: center;
  padding: 50px 0;
}

.skills h2 {
  font-size: 2rem;
  color: #fff;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Space between skills */
  margin-top: 10px;
}

.skill {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ff6600;
  padding: 6px 12px; 
  border: 2px solid #ff6600;
  border-radius: 60%; /* Makes the skill button circular */
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex; 
  justify-content: center; /* Align text horizontally */
  align-items: center; /* Align text vertically */
  width: 50px; /* Set a fixed width for consistency */
  height: 50px; /* Set a fixed height for consistency */
  text-align: center; /* Ensure text is centered */
}

.skill:hover {
  background-color: #ff6600;
  color: #fff;
}

.skill img {
  max-width: 50px; /* Logo size */
  height: auto;
  margin-bottom: 10px; /* Space between image and text */
  transition: transform 0.3s ease; /* Slight hover effect for logos */
}



.skill:hover img {
  transform: scale(1.1); 
}
